<div class="m-podcasts row" *ngIf="podcasts$ | async as podcasts">
    <div class="col-md-12">
        <h2 class="s-module-title">
            Greetings Earthlings!
            <br>
            Welcome to Moon Koradji Records podcasts page.
        </h2>

        <h3 class="s-module-subtitle">
			Subscribe to our Podcasts with 
			<a href="https://soundcloud.com/moon-koradji-records/" target="_blank"><i class="fab fa-soundcloud"></i>SoundCloud</a>, 
			<a href="https://www.mixcloud.com/Moon_Koradji_Records/" target="_blank"><i class="fab fa-mixcloud"></i>Mixcloud</a> or 
			<a href="https://podcasts.apple.com/ua/podcast/moon-koradji-records/id1470758774" target="_blank"><i class="fab fa-apple"></i>Apple Podcasts</a>
        </h3>

        <app-shared-loader></app-shared-loader>

        <div class="s-player-wrapper" [innerHTML]="podcasts[0].embedAudio | safeHtml"></div>
    </div>
</div>
