<div class="release-card">
	<a *ngIf="releaseItem.releaseRoute" class="release-card__link" [routerLink]="['/releases', releaseItem.releaseRoute]"></a>
	
	<app-picture [cover]="releaseItem.releaseCover" [class]="'release-card__image'" [imageFolder]="'release-cover/'"></app-picture>
    
    <div class="release-card__inner">
        <div class="release-card__top">
            <div class="release-card__top-title">
                {{releaseItem.releaseNumber}}

                <img src="assets/images/icon_new.gif" *ngIf="releaseItem.isNew">
            </div>

            <div class="release-card__top-text">
                {{releaseItem.releaseNote}}
            </div>
        </div>

        <div class="release-card__bottom">
            <div class="release-card__bottom-title">
                <span *ngIf="releaseItem.isFree" class="free-icon">Free</span>{{releaseItem.releaseTitle}}
            </div>

            <div class="release-card__bottom-text">
                {{releaseItem.releaseSubTitle}}
            </div>
        </div>
	</div>
</div>
