<div class="row" *ngIf="release">
	<mk-heading [title]="release.releaseTitle"/>

    <div class="offset-lg-1 col-lg-4 col-md-5 col-sm-12">
		<!-- <a (click)="shareOnFacebook()" class="btn btn-link" href="javascript: void(0)" title="Share on Facebook" style="position: absolute">
			<span class="fas fa-share fa-2x"></span>
		</a> -->

		<app-picture [cover]="release.releaseCover" [class]="'release-cover'" [imageFolder]="'release-cover/'"></app-picture>

		<a class="s-go-back mb-16" routerLink="/releases">
            <i class="fas fa-long-arrow-alt-left"></i>Go to Releases page
        </a>
    </div>

    <div class="col-lg-6 col-md-7 col-sm-12">
        <app-audio-player *ngIf="release.embedAudio" [embedAudio]="release.embedAudio"></app-audio-player>
    </div>

	<div class="offset-lg-1 col-lg-10">
		<div class="release-credits">
			<div *ngIf="release.bandcampLink || release.bandcamp24Link" class="release-credits__side">
				<p class="release-credits__title">{{release.isFree ? "Free Download:" : "Buy Digital:"}}</p>

				<a *ngIf="release.bandcampLink" href="{{release.bandcampLink}}" target="_blank" class="release-link">Bandcamp</a>

				<a *ngIf="release.bandcamp24Link" href="{{release.bandcamp24Link}}" target="_blank" class="release-link">Bandcamp 24 bit</a>
			</div>

			<div *ngIf="release.beatspaceLink" class="release-credits__side">
				<div class="release-credits__icon"></div>

				<p class="release-credits__title">CD Purchase:</p>

				<a href="{{release.beatspaceLink}}" target="_blank" class="release-link">Beatspace</a>
			</div>
		</div>

		<div class="release-description">
			<p *ngFor="let description of release.releaseDescription" class="release-description__paragraph">
				{{description.paragraph}}
			</p>
		</div>

		<div class="release-credits text-align-right">
            <p *ngIf="release.compiledBy" class="release-credits__paragraph dark-color">
				Compiled by <a routerLink="{{'/artists/' + release.compiledBy.replace(' ', '-').toLowerCase()}}">{{release.compiledBy}}</a>
			</p>

            <p *ngIf="release.releaseAuthor" class="release-credits__paragraph dark-color">
				W&P by {{release.releaseAuthor}}
			</p>

            <p *ngIf="release.masteredBy" class="release-credits__paragraph dark-color">
				Mastering by {{release.masteredBy}}
			</p>

            <p *ngIf="release.artworkBy" class="release-credits__paragraph dark-color">
				Artwork by {{release.artworkBy}}
			</p>

            <p class="release-credits__paragraph dark-color">
				Release date: {{release.releaseDate || "Coming soon" }}
			</p>
        </div>

		<div *ngIf="involved.length > 0" class="col-md-12 col-sm-12 s-involved-artists">
			<p class="s-involved-artists__title">Involved musicians:</p>
	
			<div class="s-involved-artists__item" *ngFor="let artist of involved">
				<a [routerLink]="['/artists', artist.artistRoute]"
				   class="s-involved-artists__content"
				   [ngStyle]="{backgroundImage: 'url(/assets/images/artists/m_' + artist.artistAvatar + ')'}"
				>
					<div class="s-involved-artists__name">{{artist.artistName}}</div>
				</a>
			</div>
		</div>
	</div>

	<div *ngIf="release.embedVideo" class="offset-md-1 col-md-10 col-sm-12">
		<app-shared-video [embedVideo]="release.embedVideo"></app-shared-video>
	</div>
</div>

<div class="catalog">
	<div *ngIf="previousRelease" class="catalog__prev">
		<p>Previous release:</p>
		<app-release-card [releaseItem]="previousRelease"></app-release-card>
	</div>

	<div *ngIf="nextRelease" class="catalog__next">
		<p>Next release:</p>
		<app-release-card [releaseItem]="nextRelease"></app-release-card>
	</div>
</div>
