@use '../../styles/_utils.scss' as *;

// .release-name {
// 	margin-bottom: 15px;
// 	font-size: 26px;
// 	font-weight: 300;
// }

::ng-deep .release-cover {
	// width: 240px;
	margin: 0 1rem 0.75rem 0;
	box-shadow: $brand-border;

	@supports (margin-inline-end: 0) {
		margin-right: 0;
		margin-inline-end: 1rem;
	}

	@supports (margin-block-end: 0) {
		margin-bottom: 0;
		margin-block-end: 0.75rem;
	}
}

.release-credits {
	margin-bottom: 20px;
	font-style: italic;

	&__paragraph {
		margin-bottom: 6px;
		flex: 1 1 100%;
		line-height: normal;

		&.dark-color {
			color: #bbb;
		}
	}

	&__icon {
		display: none;
		background: url("#{$imageFolder}/long-play-record-cover.svg") no-repeat center;
		width: 40px;
		height: 40px;
		float: left;
		float: inline-start;
		margin-right: 0.75rem;

		@supports (margin-inline-end: 0) {
			margin-right: 0;
			margin-inline-end: 0.75rem;
		}
	}
}

.release-link {
	display: inline-block;
	margin-bottom: 16px;
	margin-right: 8px;
	padding: 8px 16px;
	border: 1px solid;
	border-radius: 4px;
	background-color: rgba(0255, 255, 255, 0.25);
	line-height: normal;

	@include mobile {
		font-size: 14px;
	}
}

.release-description {
	// font-size: 1.2rem;
	color: #ddd;

	&__paragraph {
		margin-bottom: 1.2em;
		text-indent: 2rem;
	}
}

.s-involved-artists {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding-top: 1rem;
	margin-bottom: 3rem;

	&__title {
		width: 100%;
		margin-bottom: 10px;
		color: #bbb;
	}

	&__item {
		flex: 0 0 112px;
		position: relative;
		aspect-ratio: 1;
	}

	&__content {
		position: absolute;
		inset: 0;
		background-image: url("#{$imageFolder}/mk_square.jpg");
		background-size: cover;
		background-position: center;
		display: flex;
		align-items: flex-end;
		border-radius: 50% 0 50% 0;
		overflow: hidden;
		box-shadow: $brand-border;
		transition: 0.3s;
	}

	&__name {
		font-size: 12px;
		width: 100%;
		background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.75) 100%);
		padding: 10px 30px 10px 10px;
	}
}

.release-hub {
	width: 100%;
	border: none;
	height: 670px;
}

.catalog {
	margin-top: 4rem;
	display: flex;
	justify-content: space-between;
	background-color: $darkBg;
	padding: 2rem;
    border-radius: 1rem;

	&__next {
		margin-inline-start: auto;
		p {
			text-align: right;
		}
	}

	::ng-deep {
		.release-card {
			width: 200px;

			@include mobile {
				width: 140px;
			}
		}
	}

	@include mobile {
		margin-top: 3rem;
		background-color: transparent;
		padding: 0;
		border-radius: 0;
	}
}
