@mixin keyframes( $animationName ) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @-ms-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation( $val... ) {
    -webkit-animation: $val;
    -moz-animation: $val;
    -o-animation: $val;
    animation: $val;
}

@mixin box-sizing() {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin logoRender($set: 100px ) {
    $width: 4*$set;
    $height: 6*$set;

    #wrapper {
        width: $width;
        height: $height;
        margin: 20px auto 0;
        position: relative;
        background-color: #111;
        padding: $set*0.2;
        overflow: hidden;
        box-sizing: content-box;
    }

    #moon {
        width: $width;
        height: $width;
        border-radius: 100%;
        margin: $set auto;
        box-shadow: inset 0 -50px 50px #111;
        background: url('#{$imageFolder}/about/moon2.png') center no-repeat;
        background-size: 101%;
        @include animation (growing 5s ease-in-out);
    }

    @include keyframes(growing) {
        from {
            width: 0;
            height: 0;
        }

        to {
            width: $width;
            height: $width;
        }
    }

    #black_planet {
        width: $set*2.7;
        height: $set*2.7;
        background-color: #111;
        border-radius: 100%;
        margin: auto;
        position: relative;
        top: $set*(-5.25);
    }

    #diamond {
        width: $set*2;
        height: $height;
        position: absolute;
        top: $set*0.2;
        left: $set*1.2;
        opacity: 0;
        @include animation (crystal_inviz 4s ease-in 7s backwards);
    }

    @include keyframes(crystal_inviz) {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    #d_3 {
        position: absolute;
        top: 0;
        display: table-cell;
        vertical-align: middle;
    }

    #top3 {
        width: $set*2;
        height: $set*3;
        @include box-sizing();
        border-right: $set solid transparent;
        border-left: $set solid transparent;
        border-bottom: $set*3 solid #FFF;
        @include animation (border-bottom_top_3 5s ease-in-out);
    }

    @include keyframes(border-bottom_top_3) {
        from {
            border-bottom: 0 solid #FFF;
        }

        to {
            border-bottom: $set*3 solid #FFF;
        }
    }

    #bot3 {
        width: $set*2;
        height: $set*3;
        @include box-sizing();
        border-right: $set solid transparent;
        border-left: $set solid transparent;
        border-top: $set*3 solid #eee;
        @include animation (border-top_bot_3 5s ease-in-out);
    }

    @include keyframes(border-top_bot_3) {
        from {
            border-top: 0 solid #eee;
        }

        to {
            border-top: $set*3 solid #eee;
        }
    }

    #d_2 {
        position: absolute;
        top: $set;
        display: table-cell;
        vertical-align: middle;
    }

    #top2 {
        width: $set*2;
        height: $set*2;
        @include box-sizing();
        border-right: $set solid transparent;
        border-left: $set solid transparent;
        border-bottom: $set*2 solid #CCC;
        @include animation (border-bottom_top_2 3.5s ease-in-out);
    }

    @include keyframes(border-bottom_top_2) {
        from {
            border-bottom: 0 solid #CCC;
        }

        to {
            border-bottom: $set*2 solid #CCC;
        }
    }

    #bot2 {
        width: $set*2;
        height: $set*2;
        @include box-sizing();
        border-right: $set solid transparent;
        border-left: $set solid transparent;
        border-top: $set*2 solid #bbb;
        @include animation (border-top_bot_2 3.5s ease-in-out);
    }

    @include keyframes(border-top_bot_2) {
        from {
            border-top: 0 solid #bbb;
        }

        to {
            border-top: $set*2 solid #bbb;
        }
    }

    #d_1 {
        position: absolute;
        top: $set*2;
        display: table-cell;
        vertical-align: middle;
    }

    #top1 {
        width: $set*2;
        height: $set;
        @include box-sizing();
        border-right: $set solid transparent;
        border-left: $set solid transparent;
        border-bottom: $set solid #999;
        @include animation (border-bottom_top_1 2.1s ease-in-out);
    }

    @include keyframes(border-bottom_top_1) {
        from {
            border-bottom: 0 solid #999;
        }

        to {
            border-bottom: $set solid #999;
        }
    }

    #bot1 {
        width: $set*2;
        height: $set;
        @include box-sizing();
        border-right: $set solid transparent;
        border-left: $set solid transparent;
        border-top: $set solid #999;
        @include animation (border-top_bot_1 2.1s ease-in-out);
    }

    @include keyframes(border-top_bot_1) {
        from {
            border-top: 0 solid #999;
        }

        to {
            border-top: $set solid #999;
        }
    }

    #crystal_png {
        width: $set*2;
        height: $height;
        position: absolute;
        top: $set*0.2;
        left: $set*1.2;
        opacity: 1;
        background: url('#{$imageFolder}/about/crystal.png') center no-repeat;
        background-size: 100%;
        transform: scale(1.01);
        @include animation (crystal 4s linear 5s backwards);
    }

    @include keyframes(crystal) {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    #link, #descript {
        width: $width;
        margin: auto;
        text-align: center;
        background-color: #111;
        box-sizing: content-box;
        @include animation (fade_in 5s ease-in-out);
    }

    #descript {
        font-size: 16px;
        color: #aaa;
        font-family: Ubunta, Georgia, "Times New Roman", Times, serif;
        padding: 0 $set*0.2 $set*0.5;

        p {
            margin-bottom: 10px;
        }
    }

    #link {
        padding: $set*0.2;

        h1 {
            font-size: 25px;
            color: #aaa;
            font-weight: normal;
            position: relative;

            &:after {
                content: '\27a4';
                position: absolute;
                top: 8px;
                margin-left: 15px;
                @include animation (visit 1s linear infinite);
            }
        }
    }

    @include keyframes(visit) {
        from {
            margin-left: 15px;
        }

        to {
            margin-left: 25px;
        }
    }

    a,
    a:visited,
    a:link {
        #link & {
            color: #ddd;
            color: rgba(255, 255, 255, 0.5);
            text-shadow: 0 0 4px #fff, 0 -5px 4px #9ff, 2px -10px 6px #9c9, -2px -15px 11px #6cf, 2px -25px 18px #66f;
            /*text-shadow: 0 0 4px white,
                 0 -5px 4px #FFFF33,
                 2px -10px 6px #FFDD33,
                 -2px -15px 11px #FF8800,
                 2px -25px 18px #FF2200;*/
        }
    }

    @include keyframes(fade_in) {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

.m-about {
    padding-top: 30px;
    margin-bottom: 50px;

    &__inner {
        background-color: #111;
    }

    @include logoRender();

    #link {
        a {
            color: rgba(255, 255, 255, 0.5);
            text-shadow: 0 0 4px #fff, 0 -5px 4px #9ff, 2px -10px 6px #9c9, -2px -15px 11px #6cf, 2px -25px 18px #66f;
        }
    }
}

@media(max-width: 767px) {
    .m-about {
        padding-top: 0;
        margin-bottom: 0;

        &__inner {
            padding: 0;
        }

        @include logoRender($set: 70px);

        #link {
            h1 {
                font-size: 22px;
            }
        }
    }
}
