.m-artist {
    .s-artist-foto {
        width: 350px;
        margin: 0 20px 5px 0;
        box-shadow: 0 0 1px #fff, -1px -1px 1px #9ff, 1px -1px 1px #9c9, -1px 1px 1px #6cf, 1px 1px 1px #66f;
        border-radius: 6px;
        float: left;
        display: block;
        max-width: 100%;
        height: auto;
    }

    .s-artist-name {
        font-size: 36px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .s-artist-details {
        font-size: 18px;
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .s-artist-description {
        color: #ddd;
        line-height: 22px;

        &__item {
            margin-bottom: 10px;
        }
    }

    .s-mixes {
        padding-top: 15px;
        clear: both;

        .s-mix-year {
            font-size: 12px;
            color: #ff3a00;
            position: relative;
            float: right;
            margin-right: 3px;
            padding: 2px 10px 0;
            background-color: #fff;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }

        .s-mix-block {
            margin-bottom: 15px;

            iframe {
                border: 2px solid #fff;
                border-radius: 5px;
                height: 124px;
            }
        }
    }

    .s-involved {
        clear: both;
		padding-top: 10px;
		
		&__item {
			margin-bottom: 1rem;
		}

        &__title {
            margin-bottom: 10px;
        }

        &__link {
            &:hover {
                text-decoration: none;
            }
        }

        &__name {
            font-size: 14px;
            font-weight: 300;
        }

        &__image {
            background-size: cover;
            background-position: center;
            border-radius: 3px;
            margin-bottom: 5px;
            box-shadow: 0 0 1px #fff;
            transition: .3s;

            &:hover {
                box-shadow: 0 0 1px #fff, -1px -1px 1px #9ff, 1px -1px 1px #9c9, -1px 1px 1px #6cf, 1px 1px 1px #66f;
            }

            &::before {
                content: '';
                padding-top: 100%;
                display: block;
            }
        }
    }
}
