.m-socials {
    position: fixed;
    top: 100px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    padding: 10px 0;

    .s-item {
        display: flex;
        padding: 0 10px;
        transition: 0.3s;

        + .s-item {
            margin-top: 15px;
        }

        &:hover {
            transform: scale(1.5);
            text-decoration: none;
        }
    }
}

@include tablet {
    .m-socials {
        display: none;
    }
}

@include mobile {
    .m-socials {
        display: none;
    }
}