@use '../utils' as *;

.new {
    display: flex;
    padding: 2rem;
	gap: 2rem;
	margin-top: 2rem;
	border-radius: 1rem;
	isolation: isolate;
	position: relative;
	overflow: hidden;
	border: 1px solid gainsboro;

	//background: radial-gradient(140% 107.13% at 50% 10%, transparent 30%, #63e 100%);
	background: radial-gradient(140% 100% at 50% 0%, rgba(102, 51, 238, 0.2) 0%, transparent 70%);

	@include mobile {
		margin-top: 1rem;
		padding: 1rem;
		gap: 0;
	}

	&__left {
		align-self: center;
	}

	&__right {
		display: flex;
		flex: 1;
		flex-direction: column;
		align-items: center;
		padding-bottom: 2rem;
		padding-top: 1.75rem;

		@include mobile {
			padding-bottom: 1rem;
		}
	}

	&__title,
	&__sub-title {
		text-align: center;
	}

	&__title {
		text-transform: uppercase;
		font-size: 4rem;
		font-weight: bold;
		line-height: 1;
		margin-top: 1rem;
		background: linear-gradient(90deg, #00ffff, #ff00ff);
		background-clip: text;
		-webkit-text-fill-color: transparent;
		text-shadow: 0 0 5px rgba(0,255,255,0.4);

		@include tablet {
			font-size: 2rem;
		}

		@include mobile {
			word-break: break-word;
			font-size: 1.8rem;
		}
	}

	&__sub-title {
		font-size: 2rem;
		margin-bottom: 2rem;
		color: #c1eaeb;

		@include tablet {
			font-size: 1.5rem;
		}

		@include mobile {
			font-size: 1.2rem;
		}
	}

	&__bg {
		display: flex;
		position: absolute;
		inset: 0;
		opacity: 0.1;
		z-index: -1;
		filter: blur(1px) brightness(2);
	}

	&__bg-image {
		object-fit: cover;
	}

	.picture img {
		width: 475px;
		border-radius: 1rem;
		box-shadow: $brand-border;

		@include tablet {
			width: 310px;
		}
	}

	.btn {
		margin-top: 2rem;
	}

	@include mobile {
		flex-direction: column;
	}

	// .heading {
	// 	&__title {
	// 		background: linear-gradient(97.13deg, rgb(132 242 7) 8.47%, rgba(255, 193, 7, .5) 108.41%) text !important;
	// 	}
	// }
}
