.podcast-adv {
	$gap: 1rem;
	height: 100%;
	min-height: 200px;
	position: relative;
	z-index: 1;
    display: block;
	text-align: center;
	background: url('#{$imageFolder}/mk-bg-alt.jpg') center / cover;
	//background-attachment: fixed;

    &__item {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
    }

    &__title {
        font-size: 22px;
        text-shadow: 0 0 10px black;
        color: white;
        font-family: 'Orbitron', sans-serif;
        margin-bottom: .5rem;
    }

    &__subtitle {
        color: $themeColor;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
        font-weight: 400;
    }

    &__bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        z-index: -1;
        opacity: .15;
        fill: #fff;
    }

    &__border {
        &--top,
        &--bottom,
        &--right,
        &--left {
            position: absolute;
            animation-duration: .75s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
        }

        &--top,
        &--bottom {
            height: 1px;
            animation-name: growWidth;
        }

        &--right,
        &--left {
            width: 1px;
            animation-name: growHeight;
        }

        &--top,
        &--left {
            left: -$gap;
            top: -$gap;
        }

        &--bottom,
        &--right {
            right: -$gap;
            bottom: -$gap;
        }

        &--top {
            background: linear-gradient(to right, rgba($themeColor, 0) 0%, rgba($themeColor, 0.7) 100%);
        }

        &--bottom {
            background: linear-gradient(to right, rgba($themeColor, 0.7) 0%, rgba($themeColor, 0) 100%);
        }

        &--right {
            background: linear-gradient(to bottom, rgba($themeColor, 0.7) 0%, rgba($themeColor, 0) 100%);
        }

        &--left {
            background: linear-gradient(to bottom, rgba($themeColor, 0) 0%, rgba($themeColor, 0.7) 100%);
        }

        @keyframes growWidth {
            from {
                width: 0;
            }
            to {
                width: 100%;
            }
        }

        @keyframes growHeight {
            from {
                height: 0;
            }
            to {
                height: 100%;
            }
        }
    }

    .fa-podcast {
        color: $themeColor;
        font-size: 40px;
        margin-bottom: 1rem;
    }
}

.recent-podcast {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;

	&__image {
		height: 70px;
		width: 70px;
		background-size: cover;
		margin-right: 1rem;
		border: 1px solid white;
    	border-radius: 50%;
	}

	&__desc {
		text-align: left;
		font-size: 1rem;
		font-weight: 300;
	}

	&__title {
		margin-bottom: .2rem;
	}

	&__info {
		margin: 0;

		strong {
			font-weight: 400;
		}
	}
}
