.ringtones {
    margin-bottom: 1rem;

    &__title {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 400;
        color: var(--themeColor);
        margin-bottom: 10px;
    }

    &__list {
        font-size: 16px;
		line-height: normal;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	&__item {
		margin-bottom: 5px;
	}

    .fa-play {
        cursor: pointer;
        font-size: .75rem;
		margin-right: 5rem;
		
		@supports (margin-inline-end: 0) {
			margin-right: 0;
			margin-inline-end: .5rem;
		}
	}
	
	.new-icon {
        vertical-align: baseline;
        margin-left: 5px;
    }
}
