.b-short-about {
    &__header {
        margin-bottom: .75rem;
    }

    &__title {
        text-transform: uppercase;
        border-bottom: 1px solid $themeColor;
        padding-bottom: .25rem;
        display: inline-block;
    }

    &__image {
        width: 100px;
        height: 100px;
        float: left;
        margin: 0 .5rem .5rem 0;
    }

    &__text {
        line-height: 1.5;
    }

    &__link {
        color: $themeColor;
        white-space: nowrap;
    }
}

@include mobile {
    .b-short-about {
        margin-bottom: 1rem;
    }
}
