<mk-heading class="mt-4" [title]="'Artists'" [subTitle]="'Get to know the creative minds behind our music'"/>

<div class="filter">
	<mat-form-field appearance="outline">
		<mat-label>Filter by country</mat-label>

		<mat-select [formControl]="countries" multiple>
			<mat-option *ngFor="let country of countryList" [value]="country.artistCountry">
				<img class="artist-item__flag" src="/assets/images/flags/{{country.flag}}.svg"> {{country.artistCountry}}
			</mat-option>
		</mat-select>
  </mat-form-field>
</div>

<section *ngIf="artists" class="artists-wrapper mb-16" [class.filter-active]="choosenCountries.length">
	@for (item of artists; track item.id) {
		<div #artist class="artist-item mb-16">
			<a [routerLink]="['/artists', item.artistRoute]" class="artist-item__link">
				<p #artistName class="artist-item__name js-artist-name">{{item.artistName}}</p>

				<img class="artist-item__flag" src="/assets/images/flags/{{item.flag}}.svg">
			</a>
		</div>
	}
</section>

<mk-heading [title]="'DJs'" [subTitle]="'Meet our talented roster of DJs'"/>

<section *ngIf="djs$ | async as djs" class="artists-wrapper">
	@for (item of djs; track item.id) {
		<div class="artist-item">
			<a [routerLink]="['/artists', item.artistRoute]" class="artist-item__link">
				<p class="artist-item__name">{{item.artistName}}</p>

				<img class="artist-item__flag" src="/assets/images/flags/{{item.flag}}.svg">
			</a>
		</div>
	}
</section>
