<mk-heading class="mt-4" [title]="'Artists'" [subTitle]="'Get to know the creative minds behind our music'"></mk-heading>

<section class="artists-wrapper">
	<ng-container *ngIf="artists$ | async as artists">
		<div #artist class="artist-item mb-16" *ngFor="let item of artists">
			<a [routerLink]="['/artists', item.artistRoute]" class="artist-item__link">
				<p #artistName class="artist-item__name js-artist-name">{{item.artistName}}</p>

				<img class="artist-item__flag" src="/assets/images/flags/{{item.flag}}.svg">
			</a>
		</div>
	</ng-container>
</section>

<mk-heading [title]="'DJs'" [subTitle]="'Meet our talented roster of DJs'"></mk-heading>

<section class="artists-wrapper">
	<ng-container *ngIf="djs$ | async as djs">
		<div class="artist-item" *ngFor="let item of djs">
			<a [routerLink]="['/artists', item.artistRoute]" class="artist-item__link">
				<p class="artist-item__name">{{item.artistName}}</p>

				<img class="artist-item__flag" src="/assets/images/flags/{{item.flag}}.svg">
			</a>
		</div>
	</ng-container>
</section>
