<section class="hero">
  <canvas #canvas class="hero-canvas"></canvas>

  <div class="orb orb-left"></div>
  <div class="orb orb-right"></div>

  <div class="hero-content">
    <div class="eyebrow">Independent Psytrance Label</div>

    <h1 class="hero-title">
		<div class="title title-accent _glitch" data-text="MOON KORADJI">MOON KORADJI</div>
		<div class="title _glitch" data-text="RECORDS">RECORDS</div>
	</h1>

    <p class="subtitle">World Wide Psychedelic</p>
  </div>

  <div class="chevron">⌄</div>
</section>
