<picture class="picture">
  <source
    *ngIf="cover.webp2x"
    [srcset]="IMAGEFOLDER + imageFolder + cover.webp2x + ' 2x'"
    type="image/webp"
  >

  <source
    *ngIf="cover.webp"
    [srcset]="IMAGEFOLDER + imageFolder + cover.webp"
    type="image/webp"
  >

  <!-- <source
    *ngIf="cover.default"
    [srcset]="IMAGEFOLDER + imageFolder + cover.default"
    type="image/jpeg"
  > -->

  <img
    [class]="class"
    [src]="IMAGEFOLDER + imageFolder + cover.default"
    alt=""
    loading="lazy"
  >
</picture>
