html {
	height: 100%;
	min-height: 100%;
}

body {
	font-family: "Lato", sans-serif;
	color: var(--white);
	min-height: 100%;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: var(--white);
	text-decoration: none;
	transition: 0.3s;

	&:hover {
		color: var(--white);
	}
}

.s-module-title {
	color: var(--white);
	margin-bottom: 15px;
}

.is-underline {
	text-decoration: underline;
}

.c-video {
	position: relative;

	&:before {
		content: "";
		display: block;
		padding-top: 100% * 9 / 15;
	}

	iframe {
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
}

.fb-page {
	display: block !important;
	width: 100%;
}

.s-go-back {
	color: orange;
	margin-bottom: 5px;
	display: inline-block;

	.fas {
		margin-right: 0.25rem;

		@supports (margin-inline-end: 0) {
			margin-right: 0;
			margin-inline-end: 0.25rem;
		}
	}

	&:hover {
		color: orange;
	}
}

.s-snowman {
	width: 50px;
	margin: auto;
	display: block;
}

app-root {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	height: 100vh;
}

.page {
	padding: 30px $gap 50px;
}

.heading {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;

	&__title {
		font-size: 1.25rem;
		position: relative;
		display: inline-block;
		padding-bottom: 10px;
		margin: 0;
		line-height: normal;

		&::after {
			content: "";
			width: 100px;
			height: 5px;
			position: absolute;
			bottom: 0;
			left: -1rem;
			z-index: 0;
			background: -webkit-radial-gradient(50% 50%, ellipse closest-side, #3bc8e7, rgba(255, 42, 112, 0) 60%);

			@supports (inset-inline-start: 0) {
				left: auto;
				inset-inline-start: -1rem;
			}
		}
	}
}

app-visuals {
	background: url("#{$imageFolder}/swamp-low.jpg") no-repeat center / cover fixed;
	position: fixed;
	z-index: -10;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}

.video-bg {
	opacity: 0.65;
	min-width: 100%;
	min-height: 100%;
}

// .container.page {
// 	app-home-page,
// 	app-release-page,
// 	app-releases,
// 	app-artists-page,
// 	app-artist-page,
// 	app-podcasts-page,
// 	app-about {
// 		will-change: opacity;
// 		display: block;
// 		opacity: 0;
// 		animation: .5s ease forwards fade-in;
// 	}
// }

.glitch-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.glitch {
	$steps: 20;
	color: white;
	font-size: 50px;
	line-height: 1;
	position: relative;
	cursor: default;

	&::after,
	&::before {
		content: attr(data-text);
		position: absolute;
		top: 0;
		color: white;
		overflow: hidden;
		clip: rect(0, 900px, 0, 0);
		animation: noise-anim 2s infinite linear alternate-reverse;
	}

	&::after {
		left: 2px;
		text-shadow: -1px 0 red;
	}

	&::before {
		left: -2px;
		text-shadow: 1px 0 blue;
		animation-duration: 3s;
	}

	@keyframes noise-anim {
		@for $i from 0 through $steps {
			#{percentage($i*(1/$steps))} {
				clip: rect(random(50) + px, 9999px, random(50) + px, 0);
			}
		}
	}
}
