html {
    height: 100%;
    min-height: 100%;
}

body {
    background: url('#{$imageFolder}/swamp-low.jpg') no-repeat center / cover fixed;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: white;
    min-height: 100%;
	position: relative;
}

a {
	color: white;
	text-decoration: none;
    transition: .3s;

    &:hover {
        color: white;
    }
}

.s-module-title {
    color: white;
    margin-bottom: 15px;
}

app-visuals {
    position: fixed;
    z-index: -1;
    opacity: .65;
    min-width: 100%;
    top: 0;
    left: 0;
}

.is-underline {
    text-decoration: underline;
}

.c-video {
    position: relative;

    &:before {
        content: '';
        display: block;
        padding-top: 100% * 9 / 15;
    }

    iframe {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.fb-page {
    margin-bottom: 30px;
	display: block !important;
	width: 100%;
}

.s-go-back {
    color: orange;
    margin-bottom: 5px;
    display: inline-block;

    .fas {
        margin-right: 5px;
    }

    &:hover {
        color: orange;
    }
}


.s-snowman {
    width: 50px;
    margin: auto;
    display: block;
}

app-root {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
	height: 100vh;
}

.page {
	padding: 30px $gap 50px;
}

.heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    &__title {
        font-size: 1.25rem;
        position: relative;
        display: inline-block;
		padding-bottom: 10px;
		margin: 0;
		line-height: normal;

        &::after {
            content: '';
            width: 100px;
            height: 5px;
            position: absolute;
            bottom: 0;
            left: -15px;
            z-index: 0;
            background: -webkit-radial-gradient(50% 50%, ellipse closest-side, #3bc8e7, rgba(255, 42, 112, 0) 60%);
        }
    }
}

.video-bg {
    min-width: 100%;
}

// .logo {
// 	width: 40%;
// 	margin: 3rem auto 1rem;
// }

// .wing {
// 	//transition: .3s;
// 	display: block;
// 	//outline: 3px solid yellow;

// 	&__right {
// 		transform: rotate(0);
// 		transform-origin: 50% 50%;
// 		animation: fly-right 2s cubic-bezier(0.25, 1.7, 0.35, 0.8) 2s infinite both;
		
// 	}

// 	&__left {
// 		transform: rotate(-15deg);
// 		transform-origin: 50% 50%;
// 		animation: fly-left 3s cubic-bezier(0.25, 1.7, 0.35, 0.8) 2s infinite both;
		
// 	}
// }

// @keyframes fly-right {
// 	0% {
// 		transform: rotate(0);
// 	}

// 	20% {
// 		transform: rotate(15deg);
// 	}

// 	70%{
// 		transform: rotate(0);
// 	}
// 	100% {
// 		transform: rotate(0);
// 	}
// }

// @keyframes fly-left {
// 	0% {
// 		transform: rotate(0);
// 	}

// 	15% {
// 		transform: rotate(-15deg);
// 	}

// 	70%{
// 		transform: rotate(0);
// 	}
// 	100% {
// 		transform: rotate(0);
// 	}
// }

// .container.page {
// 	app-home-page,
// 	app-release-page,
// 	app-releases,
// 	app-artists-page,
// 	app-artist-page,
// 	app-podcasts-page,
// 	app-about {
// 		will-change: opacity;
// 		display: block;
// 		opacity: 0;
// 		animation: 1s ease forwards fadeIn;
// 	}
// }

// @keyframes fadeIn {
// 	from {
// 		opacity: 0;
// 	}
	
// 	to {
// 		opacity: 1;
// 	}
// }
