<app-header class="sticky-top"></app-header>

<main class="container page">
	<router-outlet></router-outlet>
</main>

<app-footer></app-footer>

<div class="socials">
	<a class="socials__item socials__item--facebook" href="https://www.facebook.com/MoonKoradjiRecords/" target="_blank"
		[matTooltip]="'Facebook'" [matTooltipPosition]="'left'" [matTooltipShowDelay]="100"
	>
		<i class="fab fa-facebook-square"></i>
	</a>

	<a class="socials__item socials__item--soundcloud" href="https://soundcloud.com/moon-koradji-records" target="_blank"
		[matTooltip]="'SoundCloud'" [matTooltipPosition]="'left'" [matTooltipShowDelay]="100"
	>
		<i class="fab fa-soundcloud"></i>
	</a>

	<a class="socials__item socials__item--youtube" href="https://www.youtube.com/user/MoonKoradji" target="_blank"
		[matTooltip]="'Youtube'" [matTooltipPosition]="'left'" [matTooltipShowDelay]="100"
	>
		<i class="fab fa-youtube"></i>
	</a>
	
	<a class="socials__item socials__item--bandcamp" href="https://moonkoradjirecords.bandcamp.com/" target="_blank"
		[matTooltip]="'Bandcamp'" [matTooltipPosition]="'left'" [matTooltipShowDelay]="100"
	>
		<i class="fab fa-bandcamp"></i>
	</a>
</div>

<app-scroll-to-top></app-scroll-to-top>
