<app-header></app-header>

<div class="container page">
	<router-outlet></router-outlet>
	<img *ngIf="winter" class="s-snowman" src="/assets/images/winter/snowman.svg" alt="">
</div>

<app-footer></app-footer>

<app-visuals></app-visuals>

<div class="m-socials">
	<a class="s-item s-item--facebook" href="https://www.facebook.com/MoonKoradjiRecords/" target="_blank">
		<i class="fab fa-facebook-square"></i>
	</a>
	<a class="s-item s-item--soundcloud" href="https://soundcloud.com/moon-koradji-records" target="_blank">
		<i class="fab fa-soundcloud"></i>
	</a>
	<a class="s-item s-item--youtube" href="https://www.youtube.com/user/MoonKoradji" target="_blank">
		<i class="fab fa-youtube"></i>
	</a>
</div>

