<!-- <header class="header">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a mat-button routerlink="/">
        <div>Moon Koradji Records</div>
        <div>Worl Wide Psychedelic</div>
      </a>
      <ul class="navbar-nav">
        <li class="nav-item active" routerlinkactive="active">
          <a mat-button routerlink="/">Releases</a>
        </li>
        <li class="nav-item active" routerlinkactive="active">
          <a mat-button routerlink="/">Artists</a>
        </li>
        <li class="nav-item active" routerlinkactive="active">
          <a mat-button routerlink="/">Podcasts</a>
        </li>
        <li class="nav-item active" routerlinkactive="active">
          <a mat-button routerlink="/">About</a>
        </li>
      </ul>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<div class="inner">kuukuu</div>

<footer class="footer">footer</footer> -->

<app-header></app-header>

<div class="container page">
  <router-outlet></router-outlet>
  <img *ngIf="winter" class="s-snowman" src="/assets/images/winter/snowman.svg" alt="">
</div>

<app-footer></app-footer>

<app-visuals></app-visuals>

<div class="m-socials">
  <a class="s-item s-item--facebook" href="https://www.facebook.com/MoonKoradjiRecords/" target="_blank">
    <i class="fab fa-facebook-square"></i>
  </a>
  <a class="s-item s-item--soundcloud" href="https://soundcloud.com/moon-koradji-records" target="_blank">
    <i class="fab fa-soundcloud"></i>
  </a>
  <a class="s-item s-item--youtube" href="https://www.youtube.com/user/MoonKoradji" target="_blank">
    <i class="fab fa-youtube"></i>
  </a>
</div>
