<div  class="swiper-container" [swiper]="swiperConfig">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <p class="">Already Maged</p>
            <a routerLink="/artists/already-maged">visit page</a>
        </div>
        <div class="swiper-slide">
            <p class="">Taigan Sunset</p>
            <a routerLink="/artists/taigan-sunset">visit page</a>
        </div>
        <div class="swiper-slide">
            <p class="">Molchun</p>
            <a routerLink="/artists/molchun">visit page</a>
        </div>
        <div class="swiper-slide">
            <p class="">Adansonia</p>
            <a routerLink="/artists/adansonia">visit page</a>
        </div>
        <div class="swiper-slide">
            <p class="">Inzect</p>
            <a routerLink="/artists/inzect">visit page</a>
        </div>
        <div class="swiper-slide">
            <p class="">Traskel</p>
            <a routerLink="/artists/traskel">visit page</a>
        </div>
    </div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
