<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="b-short-about">
                    <div class="b-short-about__header">
                        <h2 class="b-short-about__title">About Moon Koradji Rec.</h2>
                    </div>

                    <img src="/assets/images/omsun-bw-avatar.jpg" alt="" class="b-short-about__image" loading="lazy">

                    <p class="b-short-about__text">Independent record label Moon Koradji Records was founded in
                        Ukraine in 2007 by Oleksandr Nikiienko aka <a routerLink="/artists/dj-omsun">DJ Omsun</a>.
                        The label follows its basic purpose: to discover, collect, release and produce qualitative music
                        stuff for those, who appreciate mysteries of psychedelic sound.
                        <a routerLink="/about" class="b-short-about__link">Read More »</a>
                    </p>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="s-follow">
                    <div class="s-follow__header">
                        <h2 class="s-follow__title">Follow us on</h2>
                    </div>

                    <div class="btn-group" role="group">
                        <a class="btn btn-link" href="https://www.facebook.com/MoonKoradjiRecords" target="_blank">
                            <i class="fab fa-facebook-square"></i>Facebook
                        </a>

                        <a class="btn btn-link" href="https://soundcloud.com/moon-koradji-records" target="_blank">
                            <i class="fab fa-soundcloud"></i>SoundCloud
                        </a>

                        <a class="btn btn-link" href="https://www.youtube.com/user/MoonKoradji?sub_confirmation=1" target="_blank">
                            <i class="fab fa-youtube"></i>YouTube
                        </a>

						<a class="btn btn-link" href="https://www.instagram.com/moonkoradjirecords/" target="_blank">
                            <i class="fab fa-instagram"></i>Instagram
                        </a>

                        <a class="btn btn-link" href="https://moonkoradjirecords.bandcamp.com/follow_me" target="_blank">
                            <i class="fab fa-bandcamp"></i>Bandcamp
                        </a>
                    </div>
                </div>

                <div class="s-more-info">
                    <p class="s-more-info__notes">
                        &copy; 2008-{{year}} Moon Koradji Rec. <i>- World Wide Psychedelic</i>
                    </p>

                    <p class="s-more-info__contact">
                        Contact us: <a href="mailto:info@moonkoradji.com">info&#64;moonkoradji.com</a>
                    </p>
                </div>
            </div>
		</div>
		
		<div class="shops-wrapper">
			<h3 class="shops-wrapper__title">You can find our releases here:</h3>
			
			<ul class="shops-list">
				<li class="shops-list__item">
					<a class="shops-list__item-link" href="https://www.discogs.com/seller/Beatspace/profile?q=moon+koradji" target="blank">
						<img src="/assets/images/shops/beatspace.png" alt="Beatspace" loading="lazy">
					</a>
				</li>

				<li class="shops-list__item">
					<a class="shops-list__item-link" href="https://www.beatport.com/label/moon-koradji-records/25269/releases" target="blank">
						<img class="beatport-headphones" src="/assets/images/shops/beatport-headphones.svg" alt="Beatport Headphones" loading="lazy">
						<img class="beatport-title" src="/assets/images/shops/beatport-title.svg" alt="Beatport" loading="lazy">
					</a>
				</li>

				<li class="shops-list__item">
					<a class="shops-list__item-link" href="https://open.spotify.com/user/4gk1x57oss4st6tx32rfkpmd8" target="blank">
						<img src="/assets/images/shops/spotify.svg" alt="Spotify" loading="lazy">
					</a>
				</li>

				<li class="shops-list__item">
					<a class="shops-list__item-link" href="https://moonkoradjirecords.bandcamp.com/" target="blank">
						<img src="/assets/images/shops/bandcamp.svg" alt="Bandcamp" loading="lazy">
					</a>
				</li>
			</ul>

			<h3 class="shops-wrapper__title">Your support is much appreciated. Thank you!</h3>
		</div>

		<section class="glitch-container mt-3">
			<div class="glitch" data-text="ॐ">ॐ</div>
		</section>

		<div class="text-right">
			<small>Developed and designed by <i class="fas fa-om"></i><i class="fas fa-sun"></i></small>
		</div>
    </div>
</footer>
