<footer class="m-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="b-short-about">
                    <div class="b-short-about__header">
                        <h2 class="b-short-about__title">About Moon Koradji Rec.</h2>
                    </div>

                    <img src="/assets/images/omsun-bw-avatar.jpg" alt="" class="b-short-about__image">

                    <p class="b-short-about__text">Independent record label Moon Koradji Records was founded in
                        Ukraine in 2007 by Alexandr Nikienko a.k.a. <a routerLink="/artists/dj-omsun">dj Omsun</a>.
                        Label follows its basic purpose: to discover, collect, release and produce qualitative music
                        stuff for those, who appreciate mysteries of psychedelic sound.
                        <a routerLink="/about" class="b-short-about__link">Read More »</a>
                    </p>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="s-follow">
                    <div class="s-follow__header">
                        <h2 class="s-follow__title">Follow us on</h2>
                    </div>

                    <div class="btn-group" role="group">
                        <a class="btn btn-link" href="https://www.facebook.com/MoonKoradjiRecords" target="_blank">
                            <i class="fab fa-facebook-square"></i>Facebook
                        </a>

                        <a class="btn btn-link" href="https://soundcloud.com/moon-koradji-records" target="_blank">
                            <i class="fab fa-soundcloud"></i>SoundCloud
                        </a>

                        <a class="btn btn-link" href="https://www.youtube.com/user/MoonKoradji" target="_blank">
                            <i class="fab fa-youtube"></i>YouTube
                        </a>

                        <a class="btn btn-link" href="https://moonkoradjirecords.bandcamp.com/" target="_blank">
                            <i class="fab fa-bandcamp"></i>Bandcamp
                        </a>
                    </div>

                    <!--<div class="fb-like"
                         data-href="https://www.moonkoradji.com"
                         data-layout="standard"
                         data-action="like"
                         data-size="small"
                         data-show-faces="true"
                         data-share="true"
                         data-colorscheme="dark">
                    </div>-->
                </div>

                <div class="s-more-info">
                    <p class="s-left__notes">
                        &copy; 2008-{{year}} Moon Koradji Rec. <i>- World Wide Psychedelic</i>
                    </p>

                    <p class="s-left__contact">
                        Contact us: <a href="mailto:info@moonkoradji.com">info@moonkoradji.com</a>
                    </p>
                </div>
            </div>
		</div>
		
		<div class="shops-wrapper">
			<h3>You can find our releases here:</h3>
			
			<ul class="shops-list">
				<li class="shops-list__item">
					<a class="shops-list__item-link" href="http://www.beatspace.com/labels/moon-koradji-records.html" target="blank">
						<img src="/assets/images/shops/beatspace.png" alt="Beatspace">
					</a>
				</li>
				<li class="shops-list__item">
					<a class="shops-list__item-link" href="https://www.psyshop.com/shop/CDs/mkc/index.html" target="blank">
						<img src="/assets/images/shops/psyshop.svg" alt="Psyshop">
					</a>
				</li>
				<li class="shops-list__item">
					<a class="shops-list__item-link" href="http://www.goastore.com/label/moon-koradji-records.html" target="blank">
						<img src="/assets/images/shops/goastore.jpg" alt="Goastore">
					</a>
				</li>
				<li class="shops-list__item">
					<a class="shops-list__item-link" href="https://www.beatport.com/label/moon-koradji-records/25269" target="blank">
						<img class="beatport-headphones" src="/assets/images/shops/beatport-headphones.svg" alt="Beatport Headphones">
						<img class="beatport-title" src="/assets/images/shops/beatport-title.svg" alt="Beatport Title">
					</a>
				</li>
				<li class="shops-list__item">
					<a class="shops-list__item-link" href="https://www.junodownload.com/search/?facet%5Blabel_facet%5D%5B%5D=moon+koradji" target="blank">
						<img src="/assets/images/shops/junodownload.svg" alt="Juno Download">
					</a>
				</li>
				<li class="shops-list__item">
					<a class="shops-list__item-link" href="https://open.spotify.com/playlist/6AOgOJunbDWyn0BQywxl2h" target="blank">
						<img src="/assets/images/shops/spotify.svg" alt="Spotify">
					</a>
				</li>
				<li class="shops-list__item">
					<a class="shops-list__item-link" href="https://moonkoradjirecords.bandcamp.com/" target="blank">
						<img src="/assets/images/shops/bandcamp.svg" alt="Bandcamp">
					</a>
				</li>
			</ul>

			<h3>Your support is much appreciated. Thank you!</h3>
		</div>
    </div>
</footer>
