<footer class="m-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="b-short-about">
                    <div class="b-short-about__header">
                        <h2 class="b-short-about__title">About Moon Koradji Rec.</h2>
                    </div>

                    <img src="/assets/images/omsun-bw-avatar.jpg" alt="" class="b-short-about__image">

                    <p class="b-short-about__text">Independent record label Moon Koradji Records was founded in
                        Ukraine in 2007 by Alexandr Nikienko a.k.a. <a routerLink="/artists/dj-omsun">dj Omsun</a>.
                        Label follows its basic purpose: to discover, collect, release and produce qualitative music
                        stuff for those, who appreciate mysteries of psychedelic sound.
                        <a routerLink="/about" class="b-short-about__link">Read More »</a>
                    </p>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="s-follow">
                    <div class="s-follow__header">
                        <h2 class="s-follow__title">Follow us on</h2>
                    </div>

                    <div class="btn-group" role="group">
                        <a class="btn btn-link" href="https://www.facebook.com/MoonKoradjiRecords" target="_blank">
                            <i class="fab fa-facebook-square"></i>Facebook
                        </a>

                        <a class="btn btn-link" href="https://soundcloud.com/moon-koradji-records" target="_blank">
                            <i class="fab fa-soundcloud"></i>SoundCloud
                        </a>

                        <a class="btn btn-link" href="https://www.youtube.com/user/MoonKoradji" target="_blank">
                            <i class="fab fa-youtube"></i>YouTube
                        </a>

                        <a class="btn btn-link" href="https://moonkoradjirecords.bandcamp.com/" target="_blank">
                            <i class="fab fa-bandcamp"></i>Bandcamp
                        </a>
                    </div>

                    <!--<div class="fb-like"
                         data-href="https://www.moonkoradji.com"
                         data-layout="standard"
                         data-action="like"
                         data-size="small"
                         data-show-faces="true"
                         data-share="true"
                         data-colorscheme="dark">
                    </div>-->
                </div>

                <div class="s-more-info">
                    <p class="s-left__notes">
                        &copy; 2008-{{year}} Moon Koradji Rec. <i>- World Wide Psychedelic</i>
                    </p>

                    <p class="s-left__contact">
                        Contact us: <a href="mailto:info@moonkoradji.com">info@moonkoradji.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
