@function hexToRGB($hex) {
	@return red($hex), green($hex), blue($hex);
}

$themeColor: #a2d400;
$themeColorAlt: #24172e;
$lightGrey: #ccc;

:root {
	--themeColor: #{$themeColor};
	--themeColor--rgb: #{hexToRGB($themeColor)};
	--themeColorAlt: #{$themeColorAlt};
	--themeColorAlt--rgb: #{hexToRGB($themeColorAlt)};
	--darkGrey: #1a1a1a;
	--grey: #7e7e7e;
	--lightGrey: $lightGrey;
	--lightGrey--rgb: #{hexToRGB($lightGrey)};
	--lightGreyAlt: #f1f1f1;
	--white: white;
}
