@use "sass:color";

@function hexToRGB($hex) {
	//@return color.red($hex), color.green($hex), color.blue($hex);
	@return color.channel($hex, "red", $space: rgb), color.channel($hex, "green", $space: rgb), color.channel($hex, "blue", $space: rgb);
}

$themeColor: rgb(179, 130, 238);
$themeColorAlt: #24172e;
$lightGrey: #ccc;
$dark: #111;
$darkBg: rgba(0,0,0,0.5);

:root {
	--themeColor: #{$themeColor};
	--themeColor--rgb: #{hexToRGB($themeColor)};
	--themeColorAlt: #{$themeColorAlt};
	--themeColorAlt--rgb: #{hexToRGB($themeColorAlt)};
	--darkGrey: #1a1a1a;
	--grey: #7e7e7e;
	--lightGrey: $lightGrey;
	--lightGrey--rgb: #{hexToRGB($lightGrey)};
	--lightGreyAlt: #f1f1f1;
	--white: white;
	--dark: $dark;
}
