<div class="row">
	<div class="col-lg-12">
		<p class="s-merch-title">
			Please contact us thru
			<a class="is-underline" href="mailto:info@moonkoradji.com">email</a> or
			<a class="is-underline" href="https://www.facebook.com/MoonKoradjiRecords" target="_blank">FB</a>
			page to get all instructions about how to get the t-shirt.
		</p>
		<p class="s-merch-title">Prefered payment way is thru Paypal or Moneygram.</p>
		<p class="s-merch-text">Price: 25 euro (worldwide shipment included).</p>
		<p class="s-merch-text">Buy the t-shirt and get CD <a class="is-underline" routerLink="/releases/va-legendarium">VA Legendarium</a> for free.</p>
		<p class="s-merch-text"><img class="s-gift" src="/assets/images/winter/gift-2.svg" alt=""></p>
	</div>

	<div class="col-lg-3 col-md-3">
		<p class="s-tshirt-info">Gender: Male<br>Color: Black, Brown<br>Size: L, XL, XXL<br>Print: White with
			<span class="s-color">glowing</span> effect
		</p>
		<div class="s-tshirt-item">
			<img class="s-tshirt-item__img _brand-box-shadow" src="/assets/images/t-shirts/1/t-shirt-male.jpg">
			<br><br>
			<img class="s-tshirt-item__img d-none d-md-block"
					src="/assets/images/t-shirts/1/t-shirt-male-glowing.jpg">
		</div>
	</div>

	<div class="col-lg-6 col-md-6 d-none d-md-block">
		<p>&nbsp;</p>

		<div class="s-tshirt-item">
			<img class="s-tshirt-item__img s-tshirt-item__img--artwork"
					src="/assets/images/t-shirts/1/tshirt-artwork.png">
		</div>
	</div>

	<div class="col-lg-3 col-md-3">
		<p class="s-tshirt-info">Gender: Female<br>Color: Black, Dark blue<br>Size: S, M<br>Print: White with
			<span class="s-color">glowing</span> effect
		</p>

		<div class="s-tshirt-item">
			<img class="s-tshirt-item__img" src="/assets/images/t-shirts/1/t-shirt-female.jpg">
			<br><br>
			<img class="s-tshirt-item__img d-none d-md-block"
					src="/assets/images/t-shirts/1/t-shirt-female-glowing.jpg">
		</div>
	</div>
</div>
