<!-- <section class="glitch-container mb-5">
	<h1 class="_glitch" data-text="MOON KORADJI RECORDS">MOON KORADJI RECORDS</h1>
	<h2 class="_glitch" data-text="Psychedelic Avant-Garde">Psytrance label based in Ukraine</h2>
	<div class="glitch" data-text="ॐ">ॐ</div>
</section> -->

<section class="hero-wrapper">
	<div class="hero" *ngIf="_purchase$ | async as purchase">
		<div class="hero__image-wrapper">
			<div class="hero__image">
				<app-picture [cover]="purchase.item.cover" [class]="'hero__image'" [imageFolder]="'release-cover/'"></app-picture>
			</div>
			<div class="hero__image-title">{{purchase.item.title}}</div>
			<div class="hero__image-sub-title">{{purchase.item.subtitle}}</div>
			<a [routerLink]="purchase.item.button.routerLink" class="btn btn--light">{{purchase.item.button.title}}</a>
		</div>

		<div class="hero__content">
			<div *ngIf="purchase.title" class="hero__content-title">{{purchase.title}}</div>
			<div class="hero__purchase">
				<div class="package" *ngFor="let deal of purchase.deals" [class.package--highlight]="deal.highlight">
					<div class="package__title">{{deal.title}}</div>
					<div class="package__icon" style="background-image: url('{{deal.image}}')">{{deal.subtitle}}</div>
					<div class="package__price">{{deal.price}}</div>
					<div class="package__price-note"></div>
					<div class="package__separator"></div>
					<ul class="package__list">
						<li class="package__list-item" *ngFor="let description of deal.description">
							{{description.paragraph}}</li>
					</ul>
					<a href="{{deal.button.link}}" class="btn" target="blank">{{deal.button.title}}</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="recent-releases-wrapper">
	<div class="heading">
		<div class="heading__title">Recent Releases</div>
		<div class="heading__link"><a routerLink="/releases">View All</a></div>
	</div>

	<main class="recent-releases-inner">
		<ng-container *ngIf="_releases$ | async as releases">
			<ng-container *ngFor="let release of releases; let i = index">
				<app-release-card *ngIf="(i < 5) && !release.isHero && !release.hidden" [releaseItem]="release">
				</app-release-card>
			</ng-container>
		</ng-container>
	</main>
</section>

<section class="podcast-wrapper">
	<app-podcast></app-podcast>

	<a routerLink="/merch" class="s-tshirt" *ngIf="false">
		<div class="s-tshirt__item s-tshirt__item--hidden">
			<img src="/assets/images/t-shirts/1/t-shirt-male-glowing.jpg" class="s-tshirt__img">
		</div>

		<div class="s-tshirt__item s-tshirt__item--vissible">
			<img src="/assets/images/t-shirts/1/t-shirt-male.jpg" class="s-tshirt__img">
		</div>

		<div class="s-tshirt__notification">Buy t-shirt with glowing print</div>

		<img class="s-gift" src="/assets/images/winter/gift-2.svg" alt="">
	</a>
</section>

<section class="featured-artists-wrapper" *ngIf="featuredGalleryItems">
	<div class="heading">
		<div class="heading__title">Featured Artists</div>
		<div class="heading__link"><a routerLink="/artists">View All</a></div>
	</div>

	<app-shared-gallery [items]="featuredGalleryItems"></app-shared-gallery>
</section>

<section class="bottom">
	<div class="ringtones">
		<p class="ringtones__title">Download your ringtone</p>
		<ul class="ringtones__list">
			<li class="ringtones__item">
				<a href="/assets/music/ringtones/Moon_Koradji_-_Huvudverk.mp3" target="blank">
					<i class="fas fa-play"></i>Huvudverk
				</a>
			</li>
			<li class="ringtones__item">
				<a href="/assets/music/ringtones/Moon_Koradji_-_The_Other_Self.mp3" target="blank">
					<i class="fas fa-play"></i>The Other Self
				</a>
			</li>
		</ul>
	</div>

	<div class="fb-page" href="https://www.facebook.com/MoonKoradjiRecords/" tabs="timeline, messages" height="480"
		smallHeader="false" adaptContainerWidth="true" hideCover="false" showFacepile="true"></div>

	<div class="news" *ngIf="_news$ | async as news">
		<p class="news__header">More News</p>

		<div class="news__item" *ngFor="let item of news">
			<a *ngIf="!item.target" class="news__link" [routerLink]="item.link">
				<div class="news__image" [ngStyle]="{backgroundImage: 'url(' + item.image + ')'}"></div>
				<h1 class="news__desc">
					<span class="news__title">{{item.title}}</span>
					<br>
					<span class="news__info" *ngIf="item.text">{{item.text}}</span>
				</h1>
			</a>

			<a *ngIf="item.target" class="news__link" [attr.href]="item.link" [attr.target]="item.target">
				<div class="news__image" [ngStyle]="{backgroundImage: 'url(' + item.image + ')'}"></div>
				<h1 class="news__desc">
					<span class="news__title">{{item.title}}</span>
					<br>
					<span class="news__info" *ngIf="item.text">{{item.text}}</span>
				</h1>
			</a>
		</div>
	</div>
</section>