@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

@import '../../styles/_utils.scss';

.hero-wrapper,
.recent-releases-wrapper,
.podcast-wrapper,
.featured-artists-wrapper {
	margin-bottom: 7rem;
}

.recent-releases-inner {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
	grid-auto-rows: 1fr;
	grid-gap: 30px;
	position: relative;
	z-index: 10;
}

.podcast-wrapper {
	height: 300px;
}

.bottom {
	display: flex;
	flex-wrap: wrap;

	&__left {
		flex: 0 1 340px;
	}

	&__right {
		display: none;

		@include media-breakpoint-up(lg) {
			display: block;
			flex: 1 0 530px;
		}
	}
}

.go-to-merch {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&__title {
		width: 100%;
		margin-bottom: 1rem;
		text-align: center;

		a {
			font-size: 26px;
			position: relative;

			&::after {
				content: "\27a4";
				position: absolute;
				top: 2px;
				left: 100%;
				text-shadow: none;
				animation: arrow 1s linear infinite;
			}
		}
	}

	&__content {
		img {
			max-height: 522px;
		}
	}
}

@media (min-width: $tablet-width) {
	.bottom {
		background: rgba(0, 0, 0, 0.5);
		padding: 1rem;
		border-radius: 1rem;
	}
}

@media (max-width: 575px) {
	.featured-artists-wrapper {
		width: calc(100vw - #{$gap} * 2);
	}
}
